*:not(head) {
    font-family: Arial, Helvetica, sans-serif
    border-radius: 1em;
}

h1 {
    font-family: 'PT sans', sans-serif;
    font-size: 38px;
    filter: drop-shadow(2px 0px 11px rgb(224, 224, 224));
}

.inline {
    display: inline;
}

img {
    border-radius: 1em;
    border: 2px solid black;
}



 {
    outline: 2px solid red;
  }
