h1 {
    font-family: 'PT sans', sans-serif;
    font-weight: 1000;
    color: rgb(184, 184, 184);
    text-align: center;
    background-color: rgb(109, 109, 109);
}

.index .headerflex h1 {
    min-width: 640px;
}

.headerflex span {
    flex-grow: 1;
    width: 40px;
}

.index,
.index a {
color: black;
background-color: grey;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img {
    border-radius: 1em;
    flex: 1;
    border: 2px solid black;
    filter: drop-shadow(2px 0px 3px black);
    height: 12em;
}

.flex {
    /* border: 1px solid green; */
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1;
    justify-content: center;
    flex-direction: row;
}

.index .recipes12 {
    height: 700px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
    gap: 1em;
    flex-wrap: wrap;
}
    