h1 {
    font-family: 'PT sans', sans-serif;
    font-weight: 900;
    color: rgb(5, 73, 100);
    font-size: 120;
}

.headerflex {
    position:fixed; 
    z-index: -1;
}

.steps li {
  width: 300px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: rgb(230, 236, 236);
  border-radius: 1em;
}

.applecider .headerflex div,
.applecider .headerflex h1,
.applecider li,
.applecider.ingredients,
.applecider.subtext {
    background-color: rgb(211, 187, 79);
}

.nettlesoup .headerflex div,
.nettlesoup .headerflex h1,
.nettlesoup li,
.nettlesoup.ingredients,
.nettlesoup.subtext{
    background-color: rgba(78, 139, 78, 0.918);
}

.surstromming .headerflex div,
.surstromming .headerflex h1,
.surstromming li,
.surstromming.ingredients,
.surstromming.subtext{
    background-color: rgb(133, 133, 133);
}

.toothpaste .headerflex div,
.toothpaste .headerflex h1,
.toothpaste li,
.toothpaste.ingredients,
.toothpaste.subtext {
    background-color: #89c5af;
}

.almondmilk .headerflex div,
.almondmilk .headerflex h1,
.almondmilk li,
.almondmilk.ingredients,
.almondmilk.subtext,
.almondmilk.toptext {
    background-color: #f5eacb
}

.subtext,
.ingredients,
.toptext {
    border-radius: 1em;
    width: 350px;
    height: auto;
    border: 2px solid black;
    padding: 10px;
}

img {
    border-radius: 1em;
    border: 2px solid black;
}
