*:not(head) {
    font-family: Arial, Helvetica, sans-serif
    border-radius: 1em;
}

.headerflex {
    text-align: center;
    display: flex;
    padding: 5px;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.headerflex> * {
    border-radius: 40px;
    padding: 5px;
    text-wrap: nowrap;
}

.headerflex span {
    flex-grow: 4;
    width: 140px;
}

.headerflex div,
.headerflex h1 {
    flex-direction: row;
    height: 45px;
    text-align: center;
    display: flex;
    border: 3px solid black;
    padding: 5px;
    width: 100%;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.headerflex h1 {
    width: 600px;
    flex-grow: 1;
    padding: 5px 15px 5px 15px;
    min-width: 400px;
}

.headerflex div {
    flex-shrink: 0;
    width: 45px;
}

h1 {
    font-family: 'PT sans', sans-serif;
    font-size: 38px;
}

.flexmain {
    border: 2px solid red;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    border: 5px solid green;
    background-color: yellowgreen;
    display: inline;
}

.flexcontent {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    align-items: center;
}

.inline {
    display: inline;
}


 {
    outline: 2px solid red;
  }
  
